@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,700;1,400&display=swap");
html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 100vh;
  font-family: Cabin;
  font-size: 16px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 45px;
  background-color: #303c47;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  padding: 0 10px;
  position: relative;
  font-size: 18px;
  line-height: 36px;
  color: white;
}

.menu__link::after {
  content: "";
  position: absolute;
  left: 10px;
  bottom: -5px;
  width: calc(100% - 20px);
  height: 2px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.menu__link:hover::after {
  opacity: 1;
  -webkit-animation-name: underline;
          animation-name: underline;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes underline {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 20px);
  }
}

@keyframes underline {
  from {
    width: 0;
  }
  to {
    width: calc(100% - 20px);
  }
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

@media (max-width: 768px) {
  .section {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.text {
  line-height: 1.1;
  text-align: justify;
  text-indent: 10px;
  padding-bottom: 10px;
}

#exp {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
}

.experience {
  padding: 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 25px;
}

.project {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  position: relative;
  border: 2px solid #303c47;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.project img {
  width: 100%;
}

.project:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.project:hover .project__description {
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
}

.project__description {
  position: absolute;
  top: 88%;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: white;
  text-shadow: 0 0 1px black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

#contacts {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 768px) {
  #contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.avatar {
  display: block;
  -ms-flex-item-align: start;
      align-self: flex-start;
  max-width: 220px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 2px #303c47;
          box-shadow: 0 0 2px #303c47;
}

@media (max-width: 768px) {
  .avatar {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

h1 {
  font-size: 42px;
  font-weight: bold;
  text-decoration: underline;
  color: #303c47;
  line-height: 60px;
  font-variant: small-caps;
}

h2 {
  position: relative;
  font-size: 24px;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
  line-height: 48px;
  color: #303c47;
}

h2::after {
  content: "";
  position: absolute;
  height: 2px;
  background-color: #303c47;
}

.title {
  padding-bottom: 10px;
  font-size: 20px;
  font-variant: small-caps;
}

.contacts {
  padding: 10px 0;
}

.contacts__item {
  position: relative;
  padding: 0 0 10px 25px;
  line-height: 20px;
}

.contacts__item a {
  font-size: 14px;
  color: inherit;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.contacts__item a:hover {
  text-shadow: 0 0 2px #cecece;
  color: #829984;
}

.contacts__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.contacts__item:nth-child(1)::before {
  background-image: url(../assets/svg/location.svg);
}

.contacts__item:nth-child(2)::before {
  background-image: url(../assets/svg/english.svg);
  -webkit-filter: invert(69%) sepia(2%) saturate(2411%) hue-rotate(75deg) brightness(84%) contrast(89%);
          filter: invert(69%) sepia(2%) saturate(2411%) hue-rotate(75deg) brightness(84%) contrast(89%);
}

.contacts__item:nth-child(3)::before {
  background-image: url(../assets/svg/email.svg);
}

.contacts__item:nth-child(4)::before {
  background-image: url(../assets/svg/github.svg);
  -webkit-filter: invert(69%) sepia(2%) saturate(2411%) hue-rotate(75deg) brightness(84%) contrast(89%);
          filter: invert(69%) sepia(2%) saturate(2411%) hue-rotate(75deg) brightness(84%) contrast(89%);
}

.contacts__item:nth-child(5)::before {
  background-image: url(../assets/svg/discord.svg);
}

.list {
  padding: 10px 0;
}

.list__item {
  position: relative;
  padding: 0 0 10px 25px;
  line-height: 20px;
}

.list__item::before {
  content: "◈";
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
}

.list__skills {
  display: block;
  color: #fff;
}

.list__item:nth-child(1) .list__skills {
  background: -webkit-gradient(linear, left top, right top, from(#303c47), color-stop(85%, #829984), to(white));
  background: linear-gradient(90deg, #303c47 0%, #829984 85%, white 100%);
}

.list__item:nth-child(2) .list__skills {
  background: -webkit-gradient(linear, left top, right top, from(#303c47), color-stop(65%, #829984), to(white));
  background: linear-gradient(90deg, #303c47 0%, #829984 65%, white 100%);
}

.list__item:nth-child(3) .list__skills {
  background: -webkit-gradient(linear, left top, right top, from(#303c47), color-stop(80%, #829984), to(white));
  background: linear-gradient(90deg, #303c47 0%, #829984 80%, white 100%);
}

.pre {
  position: relative;
  font-size: 14px;
  max-width: 500px;
}

.codewars {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
}

.codewars img {
  width: 45px;
}

.example {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 45px;
  font-family: inherit;
  text-align: center;
  line-height: 24px;
  text-transform: uppercase;
  background-color: greenyellow;
  -webkit-animation: tryIt 2s infinite;
          animation: tryIt 2s infinite;
}

@-webkit-keyframes tryIt {
  0% {
    background-color: greenyellow;
  }
  50% {
    background-color: #b1361e;
    color: white;
  }
  100% {
    background-color: greenyellow;
  }
}

@keyframes tryIt {
  0% {
    background-color: greenyellow;
  }
  50% {
    background-color: #b1361e;
    color: white;
  }
  100% {
    background-color: greenyellow;
  }
}

.footer {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #303c47;
}

.footer__author {
  color: white;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__author a {
  font-size: 18px;
  color: inherit;
}

.footer__author:hover {
  color: yellow;
}

.footer__school {
  width: 90px;
  height: 45px;
  background: url("../assets/svg/rs_school_js.svg") center/contain no-repeat;
  -webkit-filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(229deg) brightness(119%) contrast(101%);
          filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(229deg) brightness(119%) contrast(101%);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer__school a {
  display: block;
  width: 100%;
  height: 100%;
}

.footer__school:hover {
  -webkit-filter: invert(83%) sepia(82%) saturate(7500%) hue-rotate(355deg) brightness(103%) contrast(107%);
          filter: invert(83%) sepia(82%) saturate(7500%) hue-rotate(355deg) brightness(103%) contrast(107%);
}
