body {
	display: flex;
	justify-content: center;
	background-color: #e5e5e5;
}

aside {
	position: fixed;
	top: 0px;
	bottom: 0px;	
	
	display: flex;
	flex-direction: column;	
}

.main {
	display: flex;
	flex-direction: column;
}

nav {
	position: sticky;
	top: 0px;
}
